:root {
	--genwidth: 850px ;
	--navwidth: 175px ;
	--fg: #ddd ;
	--altfg: #ccc ;
	--fgemph: white ;
	--bg: #111 ;
	--altbg: #333 ;
	--emph: #333 ;
	--bordercolor: #555 ;
	--limish: #0e0 ;
}

body {
  background-color: #272727;
  padding: 10px;
  font-family: monospace;
  white-space: normal;
}

p {
  position: relative;
  left: 50%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  width: 0;
}
