body {
  /* font-family: Optima, Candara, Calibri, Arial, sans-serif; */
    font-family: 'Ubuntu Mono', 'Courier New', Monospace;
    color: #E2F2F3;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
